canvas {
    width: 150dvw;
    height: 125dvh;
    image-rendering: pixelated;
    position: absolute;
    z-index: 1;
}

canvas.ui {
    z-index: 3;
}

body, main {
    overflow: hidden;
    margin: 0;
}

main {
    margin-left: -50vw;
    margin-right: 50vw;
}
